
div.container {
  text-align: center;
  padding-top: 30px;
}

h3 {
  color: #ffffff;
  margin-bottom: 30px;
}

label {
  color: #ffffff;
  text-align: right;
}

button {
  width: 50%;
}

input, input:focus{
  outline:0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
