
div.container {
  text-align: center;
  padding-top: 30px;
  height: 93vh;
  overflow-y: auto;
}

h4 {
  color: #ffffff;
  margin-bottom: 30px;
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 20px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(46, 46, 46, 0.5);
}

.rectangle-list li{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  letter-spacing: 2px;
  background: rgba(148, 148, 148, 0.35);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(46, 46, 46, 0.5);
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list li:hover{
  background: rgba(148, 148, 148, 0.15);
}

.rectangle-list li::before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #53b493;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list li::after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list li:hover::after{
  left: -.5em;
  border-left-color: #53b493;
}

fa-icon {
  margin-left: 15px;
  float: right;
  color: rgb(255, 217, 0);
}

