<div class="container">
  <div class="row justify-content-center">
    <div *ngIf="!generatingNumberService.isCouponListReady; else show">
      <h3>Enter the parameters on the left side!</h3>
    </div>
    <ng-template #show>
      <ol class="rectangle-list">
        <li
          *ngFor="
            let numbers of generatingNumberService.couponList"
          (click)="onSelected(numbers)"
        >
          {{ numbers}}
          <fa-icon [icon]="faStar"></fa-icon>
        </li>
      </ol>
    </ng-template>
  </div>
</div>
